.container {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    // height: 200px;
    // overflow-y: auto;
}

.load-defer-block {
    height: 30rem;
    display: flex;
    justify-content: center;
}
